/*----------------------------------------*/
/*  Button CSS START
/*----------------------------------------*/
.cus-btn {
  position: relative;
  overflow: hidden;
  color: $black;
  display: inline-flex;
  justify-content: center;
  font-size: clamp(12px, 0.729vw, 22px);
  font-family: $font-primary;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
  padding: clamp(12px, 0.833vw, 24px) clamp(18px, 1.25vw, 48px);
  text-decoration: none;
  border-radius: $br-48;
  border: 0;
  cursor: pointer;
  background: $white;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  span {
    &:first-child {
      position: relative;
      transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
      z-index: 10;
    }

    &:last-child {
      color: $white;
      display: block;
      position: absolute;
      bottom: 0;
      transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
      z-index: 100;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateY(225%) translateX(-50%);
      height: 14px;
      line-height: 13px;
      width: 100%;
      text-align: center;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-1;
    border: 0;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }

  &:hover {
    &:after {
      transform-origin: bottom center;
      transform: skewY(6.3deg) scaleY(2);
    }

    span {
      &:last-child {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
      }
    }
  }
}

.cus-btn-2 {
  position: relative;
  overflow: hidden;
  border: 1px solid $accent-1;
  color: $accent-1;
  display: inline-flex;
  justify-content: center;
  font-size: clamp(14px, 0.938vw, 22px);
  font-family: $font-sec;
  font-weight: 500;
  line-height: 120%;
  /* 21.6px */
  padding: clamp(10px, 0.625vw, 24px) clamp(20px, 1.667vw, 48px);
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &.small-padding {
    padding: 8px clamp(20px, 1.667vw, 48px);
  }

  span {
    &:first-child {
      position: relative;
      transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
      z-index: 10;
    }

    &:last-child {
      color: $accent-1;
      display: block;
      position: absolute;
      bottom: 0;
      transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
      z-index: 100;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateY(225%) translateX(-50%);
      height: 14px;
      line-height: 13px;
      width: 100%;
      text-align: center;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    border: 0;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }

  &:hover {
    border: 1px solid $white;

    &:after {
      transform-origin: bottom center;
      transform: skewY(6.3deg) scaleY(2);
    }

    span {
      &:last-child {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
      }
    }
  }
}

.cus-btn-3 {
  position: relative;
  overflow: hidden;
  border: 1px solid $accent-1;
  color: $white;
  display: inline-flex;
  justify-content: center;
  font-size: clamp(12px, 0.729vw, 22px);
  font-family: $font-primary;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
  padding: clamp(12px, 0.833vw, 24px) clamp(18px, 1.25vw, 48px);
  text-decoration: none;
  border-radius: $br-48;
  cursor: pointer;
  background: $accent-1;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &.small-padding {
    padding: 8px clamp(20px, 1.667vw, 48px);
  }

  span {
    &:first-child {
      position: relative;
      transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
      z-index: 10;
    }

    &:last-child {
      color: $accent-1;
      display: block;
      position: absolute;
      bottom: 0;
      transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
      z-index: 100;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateY(225%) translateX(-50%);
      height: 14px;
      line-height: 13px;
      width: 100%;
      text-align: center;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    border: 0;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }

  &:hover {
    border: 1px solid $accent-1;

    &:after {
      transform-origin: bottom center;
      transform: skewY(6.3deg) scaleY(2);
    }

    span {
      &:last-child {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
      }
    }
  }
}

.cus-arrow-btn {
  display: flex;
  align-items: center;
  gap: $gap-8;
  color: $white;
  font-weight: 700;
  transition: $transition;
  padding: clamp(10px, 0.625vw, 16px) clamp(24px, 1.667vw, 48px);
  transition: $transition;

  svg {
    path {
      transition: $transition;
    }
  }

  &:hover {
    transition: 0.2s ease-in-out;
    color: $accent-1;

    svg {
      transform: translateX(8px);
      transition: $transition;

      path {
        stroke: $accent-1;
        transition: $transition;
      }
    }
  }
}

/*----------------------------------------*/
/* scroll to top
/*----------------------------------------*/
.scrollToTopBtn {
  background-color: $accent-1;
  border: none;
  border-radius:$br-12;
  color: white;
  cursor: pointer;
  font-size: clamp(18px, 1.25vw, 48px);
  line-height: 48px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: clamp(40px, 2.5vw, 64px);
  height: clamp(40px, 2.5vw, 64px);
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;

  &:hover {
    background: $accent-2;
    color: $accent-1;
    transition: $transition;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

// SLIDER ARROWS
.slider-arrows {
  display: flex !important;
  align-items: center;
  justify-content: space-between;

  @include media-query(992px){
    display: none !important;
  }

  .arrow-btn {
    position: absolute ;
    width: clamp(32px, 2.5vw, 64px);
    height: clamp(32px, 2.5vw, 64px);
    display: grid;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: $transition;

    &.btn-prev {
      top: 50%;
      left: 0;
      transform: translate(100%, 50%);
    }

    &.btn-next {
      top: 50%;
      right: 0;
      transform: translate(-100%, 50%);
    }

    svg {
      width: clamp(24px, 1.667vw, 64px);
      height: clamp(25px, 1.719vw, 64px);
      transition: $transition;

      path {
        stroke: $white;
        transition: $transition;
      }
    }

    &:hover {
      transition: $transition;

      path {
        stroke: $accent-2;
        transition: $transition;
      }
    }
  }
}


// SOCIAL ICONS
.social-icons {
  display: flex;
  align-items: center;
  gap: $gap-16;

  li {
    a {
      width: clamp(34px, 2.083vw, 60px);
      height: clamp(34px, 2.083vw, 60px);
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      transition: $transition;
      background: $accent-1;

      svg {
        width: clamp(18px, 1.25vw, 36px);
        height: clamp(18px, 1.25vw, 36px);
      }

      &:hover {
        background-color: $accent-3;
      }
    }
  }
}

// ===================  PAGINATIONS =================== //
.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  display: flex;

  #border-pagination {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;

      span {
        color: $dark-gray;
        transition: $transition;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $black;
        width: clamp(36px, 3.333vw, 64px);
        height: clamp(36px, 3.333vw, 64px);
        border-radius: 0;
        background: $lightest-gray;
        border-radius: 50%;
        float: left;
        transition: $transition;
        font-family: $font-primary;
        font-size: clamp(16px, 0.938vw, 22px);
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        /* 21.6px */
        @include media-query(399px) {
          font-size: 14px;
        }
       
        &.active {
          background-color: $accent-1;
          color: $white;
        }

        &:hover {
          background-color: $accent-1;
          color: $white;
        }
      }

      &:hover {
        span {
          color: $white;
          transition: $transition;
        }
      }
    }
  }
}