.wrapper-dropdown {
	padding: clamp(5px, 0.417vw, 20px);
	border-radius: $br-4;
	background: transparent;
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-align: left;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	img{
		width: clamp(24px, 1.875vw, 64px);
		height: clamp(24px, 1.875vw, 64px);
	}

	.selected-display{
		font-weight: 400;
		color: $white;
	}

	&::before {
		position: absolute;
		top: 50%;
		right: 16px;
		margin-top: -2px;
		border-width: 6px 6px 0 6px;
		border-style: solid;
		border-color: #fff transparent;
	}

	.topbar-dropdown {
		width: 150px;
		background: rgba(27, 27, 29, 0.80);
        backdrop-filter: blur(16px);
		transition: 0.3s;
		position: absolute;
		top: 104%;
		left: 0px;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 99;
		border-radius: 0 0 4px 4px;
		box-shadow: inherit;
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		transform-origin: top;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
		visibility: hidden;
		
		li {
			display: flex;
			align-items: center;
			gap: $gap-12;
			padding: 4px 16px;
			line-height: 30px;
			border-radius: 0;
			overflow: hidden;
			font-size: clamp(14px, 0.781vw, 18px); /* 15px */
			font-family: $font-primary;
			color: $white;
			font-style: normal;
			font-weight: 400;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: $accent-1;
				color: $white;
			}
		}
	}

	&.active {
		.topbar-dropdown {
			opacity: 1;
			visibility: visible;
			border-radius: 5px;
		}
	}

	.scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
	}

	.arrow {
		float: right;
		rotate: 180deg;
	}

	svg {
		transition: all 0.3s;
	}

	.rotated {
		transform: rotate(-180deg);
	}
}