/*-------------------------
  Form Styling
-------------------------*/

.form-control {
  padding: clamp(12px, 1.05vw, 32px);
  border-radius: 0;
  border: 0;
  font-family: $font-primary;
  font-size: clamp(15px, 1.042vw, 22px);
  font-weight: 400;
  line-height: 120%;
  position: relative;
  color: $white;
  box-shadow: none;
  border-radius: 32px;
  border: 1px solid $accent-1;
  background: rgba(27, 27, 27, 0.20);
  backdrop-filter: blur(12px);

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  &.form-control-2 {
    background: rgba(66, 66, 66, 0.20);
    padding: clamp(12px, 1.05vw, 32px);
    border: 0;

    &:focus {
      box-shadow: none;
      outline: 0;
      color: $white !important;
      background: rgba(66, 66, 66, 0.20);
    }
  }

  &.form-control-3 {
    background: transparent !important;
    padding: clamp(12px, 1.05vw, 32px);
    border: 0;
    backdrop-filter: none;

    &:focus {
      box-shadow: none;
      outline: 0;
      color: $white !important;
      // background: rgba(66, 66, 66, 0.20);
    }
  }

  &:focus {
    box-shadow: none;
    outline: 0;
    color: $white !important;
    background: rgba(27, 27, 27, 0.20);
  }

  &::placeholder {
    color: $light-gray;
    opacity: 1;
  }

  svg {
    position: absolute;
    top: 16px;
    left: 18px;
  }
}

.input-block {
  position: relative;

  .form-control {
    padding: clamp(10px, 0.755vw, 32px);
    padding-left: 48px;
    font-family: $font-primary;
    font-size: clamp(15px, 1.042vw, 22px);
    font-weight: 400;
    line-height: 120%;
    position: relative;
    color: $white;
    box-shadow: none;
    border-radius: $br-4;
    border: 1px solid $light-gray;
    background: rgba(27, 27, 27, 0.20);

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  svg,
  i {
    position: absolute;
    top: 17px;
    left: 16px;

    @include media-query(490px) {
      top: 14px;
    }
  }
}

label {
  &.error {
    color: #ff0000;
  }
}

.cus-checkBox {
  input {
    display: none;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &::before {
      content: "\f0c8";
      font-family: $font-awesome;
      color: $medium-black;
      font-size: clamp(16px, 1.042vw, 20px);
      font-weight: 300;
    }
  }

  input[type="checkbox"]:checked {
    +label {
      &::before {
        content: "\f14a";
        color: $accent-1;
        font-weight: 600;
      }
    }
  }
}