#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  background: $light-black;
  .loader {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .gradient-image {
    width: 34.844vw;
    height: 81.406vw;
    filter: blur(40px);
    position: absolute;
    left: 200%;
    bottom: unset;

    &.image-2 {
      right: 200%;
      left: unset;
    }
  }

  #bitcoin {
    padding-top: 80px;
    width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #888888;
  }

  .path {
    stroke-dasharray: 2110;
    stroke-dashoffset: 2110;
    stroke-width: 2;
    stroke-linecap: round;
    animation: dash 6s linear infinite;
    fill-opacity: 0;
    stroke: $accent-2;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 2110;
      opacity: 0;
      stroke: $accent-2;
    }

    15% {
      opacity: 1;
      stroke: $accent-2;
    }

    70% {
      opacity: 1;
      stroke: $accent-2;
    }

    100% {
      stroke-dashoffset: 0;
      opacity: 0;
      stroke: $accent-2;
    }
  }
}