img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.container-fluid {
  @media (min-width: 1200px) {
    padding: 0 5vw;
    width: 100%;
  }

  padding-right: calc(var(--bs-gutter-x) * 0.75);
  padding-left: calc(var(--bs-gutter-x) * 0.75);

  @media (max-width: 575px) {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}

/*-------------------------
  Typography
-------------------------*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: $font-primary;
  color: $lightest-gray;
  background-color: $black;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(14px, 0.938vw, 22px);
  font-weight: 400;
  line-height: 150%;
  height: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid $accent-2;
    background-clip: padding-box;
    padding: 2px;
    border-radius: 0px;
    box-shadow: inset 0 0 0 1px fade($white, 20%);

    &:hover {
      transition: $transition;
      box-shadow: inset 0 0 0 3px $white !important;
    }
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  transition: $transition;

  &:hover {
    color: $accent-2;
    transition: $transition;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $white;
  margin-bottom: 0;
}
h1,
.h1 {
  font-family: $font-sec;
  font-size: clamp(46px, 3.594vw, 118px);
  /* 69px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 96px */
  letter-spacing: -2.1px;

  @include media-query(1199px) {
    font-size: clamp(42px, 4.003vw, 69px);
    /* 48px */
  }

  @include media-query(820px) {
    font-size: clamp(36px, 4.878vw, 54px);
    /* 40px */
  }
}

h2,
.h2 {
  font-family: $font-sec;
  font-size: clamp(42px, 2.865vw, 100px); /* 55px */
  font-weight: 500;
  line-height: 120%;

  @include media-query(1199px) {
    font-size: clamp(38px, 3.336vw, 56px);/* 40px */
  }

  @media (max-width: 820px) {
    font-size: clamp(30px, 4.146vw, 42px); /* 34px */
  }
}

h3,
.h3 {
  font-family: $font-sec;
  font-size: clamp(38px, 2.292vw, 61px);
  /* 44px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @include media-query(1199px) {
    font-size: clamp(32px, 3.169vw, 49px);
    /* 38px */
  }

  @include media-query(820px) {
    font-size: clamp(27px, 3.902vw, 38px);
    /* 32px */
  }
}

h4,
.h4 {
  font-family: $font-sec;
  font-size: clamp(32px, 1.823vw, 48px);
  /* 35px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 42px */

  @include media-query(1199px) {
    font-size: clamp(29px, 2.752vw, 40px);
    /* 33px */
  }

  @include media-query(820px) {
    font-size: clamp(23px, 3.293vw, 30px);
    /* 27px */
  }
}

h5,
.h5 {
  font-family: $font-sec;
  font-size: clamp(24px, 1.458vw, 38px);
  /* 28px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 33.6px */

  @include media-query(1199px) {
    font-size: clamp(23px, 2.085vw, 32px);
    /* 25px */
  }

  @include media-query(820px) {
    font-size: clamp(19px, 2.439vw, 24px);
    /* 20px */
  }
}

h6,
.h6 {
  font-family: $font-sec;
  font-size: clamp(20px, 1.198vw, 32px); /* 23px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 27.6px */

  @include media-query(1199px) {
    font-size: clamp(21px, 1.918vw, 28px);
    /* 23px */
  }

  @include media-query(820px) {
    font-size: clamp(18px, 2.317vw, 21px);
    /* 19px */
  }
}

.text-18,
p {
  font-family: $font-primary;
  font-size: clamp(16px, 0.938vw, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  /* 21.6px */
  @include media-query(399px) {
    font-size: 14px;
  }
}

.lead {
  font-size: clamp(16px, 1.042vw, 24px);
  font-weight: 400;
  line-height: 150%;

  @include media-query(820px) {
    font-size: clamp(15px, 2.107vw, 21px);
  }

  @include media-query(767px) {
    font-size: clamp(15.5px, 2.656vw, 19px);
  }

  @include media-query(575px) {
    font-size: clamp(14.5px, 4.146vw, 18px);
  }
}

.eyebrow {
  text-transform: capitalize;
  font-size: clamp(14px, 0.938vw, 22px); /* 18px */
  font-family: $font-primary;
  font-weight: 400;
  line-height: 120%;

  /* 24px */
  @include media-query(1199px) {
    font-size: clamp(15px, 1.418vw, 21px);
  }
}

.subtitle {
  font-size: clamp(16px, 0.729vw, 20px); /* 14px */
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.caption {
  font-size: clamp(12px, 0.677vw, 16px); /* 13px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  @include media-query(1499px) {
    font-size: 13px;
  }
}

span {
  display: inline-block;
}

b,
strong {
  font-family: $font-primary;
}

.hr-line {
  width: 100%;
  height: 1px;
  background: $lightest-gray;
  &.contact-line{
    background: $accent-1;
  }
}
.vr-line {
  width: 1px;
  height: 100%;
  background: $white
}
