.brand-sec {
    .brand-wrapper {
        padding: clamp(16px, 1.25vw, 48px);
        border-radius: $br-16;
        background: $light-black;

        .brand-images {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media-query(1399px){
                gap: $gap-64;
                flex-wrap: wrap;
            }
            img{
                @include media-query(1024px){
                    width: 18%;
                }
                @include media-query(490px){
                    width: 35%;
                }
            }
        }
    }
}

.brand-container {
    overflow-x: hidden;
    overflow-y: clip;
    position: relative;

    .bg-line{
        width: 100%;
        height: 102px;
        background: $accent-1;
        position: absolute;
    }

    .brand-wrapper {
        width: 100vw;
        overflow-x: hidden;
        background: $accent-2;
        transform: rotate(-4deg);
        padding: clamp(8px, 0.625vw, 24px) clamp(8px, 0.625vw, 24px) 6px;

        .brand-slider {
            margin: 0 clamp(-16px, -2.5vw, -96px);

            .brand-slide {
                margin: 0 clamp(16px, 2.5vw, 96px);
                transform: rotate(4deg);
                padding-top: 10px;
                @include media-query(490px){
                    transform: scale(0.7);
                }
            }
        }
    }
}