.market-page {
    .chart-container {
        background-color: #2c2c2e;
        border-radius: $br-12;
        padding: clamp(16px, 1.25vw, 48px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .chart-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-wrap: wrap;
        @include media-query(992px){
            row-gap: $gap-24;
        }

        .coin-name {
            display: flex;
            align-items: center;

            .coin-icon {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }

            span {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .chart-info {
            display: flex;
            gap: $gap-24;

            span {
                color: #00ff5f;
            }
        }
    }

    canvas {
        background-color: #1c1c1e;
    }

    #btcChart {
        padding: clamp(16px, 1.25vw, 40px) !important;
        border-radius: $br-12;
    }

    .drop-container {
        border: 1px solid $white;
        border-radius: $br-48;
        padding: clamp(1px, 0.208vw, 12px) clamp(10px, 0.833vw, 24px);
    }

    .market-section {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: $gap-24;

        .chart-sidebar {
            width: 30%;
            @include media-query(992px){
                width: 100%;
            }

            .digital-currency-wrapper {
                background: rgba(27, 27, 29, 0.20);
                backdrop-filter: blur(6px);

                .digital-currency-block {
                    padding: clamp(10px, 0.625vw, 24px);
                    background: $light-black;
                    border-radius: $br-16;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .currency-chart {
                    padding: clamp(12px, 0.625vw, 24px) clamp(16px, 1.25vw, 32px);
                    background: $light-black;
                    border-radius: $br-16;
                }

                .currency-slider {
                    .slick-track {
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                    }

                    .slick-slide {
                        width: 70% !important;
                        transform: scale(0.9, 0.9);
                        transform-origin: right;
                        transition: transform .3s ease;

                        &.slick-current,
                        &.slick-current-clone-animate {
                            transform: scale(1, 1);
                            position: relative;

                            &::before {
                                transition: transform .3s ease;
                                content: url(../media/vector/tick-line.png);
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translate(-100%, -50%);

                                @include media-query(490px) {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .chart-tabs {
            padding: clamp(8px, 0.625vw, 24px) clamp(16px, 1.25vw, 40px);
            width: 68%;
            background: rgba(82, 82, 89, 0.20);
            border-radius: $br-12;

            @include media-query(992px){
                width: 100%;
            }
            @include media-query(576px){
                overflow-x: scroll;
            }

            .nav {
                display: inline-flex;
                gap: $gap-12;
                border: 0px;
                position: relative;

                .nav-item {
                    .nav-link {
                        color: $white;
                        font-family: $font-primary;
                        font-size: clamp(14px, 0.938vw, 22px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        border: 0px;
                        padding: 8px 22px;
                        position: relative;
                        transition: $transition;
                        text-transform: capitalize;
                        display: inline-flex;
                        align-items: center;
                        gap: $gap-8;
                        overflow: hidden;

                        @include media-query(490px) {
                            padding: 8px;
                        }

                        &:focus-visible {
                            outline: 0;
                        }

                        span {
                            transform: translateX(-48px);
                            transition: $transition;
                        }

                        &.active {
                            background: $black;
                            color: $white;
                            transition: $transition;
                            border: 0px;
                            border-radius: $br-32;
                            background: $black;

                            span {
                                transform: translateX(0px);
                                transition: $transition;
                            }

                            &::after {
                                width: 100%;
                            }
                        }

                        &:hover {
                            border-radius: $br-32;
                            background: $black;
                            color: $white;
                            transition: $transition;

                            span {
                                transform: translateX(0px);
                                transition: $transition;
                            }
                        }
                    }
                }
            }

            .teams-points-table {
                width: 100%;

                @include media-query(490px) {
                    width: max-content;
                    overflow-x: scroll;
                    border-radius: clamp(8px, 0.833vw, 24px);
                }

                // CSS OF PLAYER DETAILS PAGE TABLE START
                &.player-detail-table {
                    @include media-query(820px) {
                        overflow-x: scroll;
                        border-radius: clamp(8px, 0.833vw, 24px);
                    }

                    .table {
                        thead {
                            tr {
                                th {
                                    text-align: center;
                                    font-size: clamp(21px, 1.302vw, 32px);
                                    /* 25px */
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 140%;

                                    @include media-query(1199px) {
                                        font-size: clamp(18px, 1.668vw, 28px);
                                        /* 20px */
                                    }

                                    @include media-query(820px) {
                                        font-size: clamp(16px, 2.195vw, 21px);
                                        /* 18px */
                                    }

                                    &:nth-child(1) {
                                        text-align: start;
                                    }

                                    &:nth-child(2) {
                                        text-align: start;
                                        width: 19%;

                                        @include media-query(490px) {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // CSS OF PLAYER DETAILS PAGE TABLE END
                .table {
                    thead {
                        tr {
                            th {
                                padding: 22.5px 0;
                                color: $white;
                                font-size: clamp(16px, 0.729vw, 20px); /* 14px */
                                font-family: $font-primary;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                width: 22.5%;
                                text-align: center;
                                
                                &:first-child {
                                    text-align: start;
                                }

                                // &:nth-child(2) {
                                //     padding-left: 0;
                                //     width: 40%;
                                // }

                                // &:last-child {
                                //     border-radius: 0 clamp(8px, 0.833vw, 24px) 0 0;
                                // }
                            }
                        }
                    }

                    tbody {
                        tr {
                            &:nth-of-type(even) {
                                box-shadow: none;
                            }

                            &:last-child {
                                border-radius: 0 0 clamp(8px, 0.833vw, 24px) clamp(8px, 0.833vw, 24px);
                            }

                            th {
                                padding: 18px 0 18px 16px;
                                border: 0;
                                box-shadow: none;
                                &:first-child {
                                    text-align: start;
                                    padding: 18px 0;
                                }
                            }

                            td {
                                padding: 18px 16px;
                                border: 0;
                                box-shadow: none;
                                text-align: center;

                                &:nth-child(2) {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}