.sidebar {

    .search-bar {
        form {
            position: relative;

            input {
                border: 1px solid $light-gray;
                border-radius: $br-16;
                padding: 16px 16px 16px 48px;
            }

            button {
                position: absolute;
                left: 12px;
                top: 16px;
                background: transparent;
                border: 0;

                i {
                    color: $white;
                }
            }
        }
    }

    .category-block {
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }
        
        .category-list{
            li{
                a{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: rgba(27, 27, 29, 0.20);
                    border-radius: $br-48;
                    transition: $transition;
                    cursor: pointer;
                    color: $dark-gray;
                    .image-box{
                        img{
                            @include media-query(490px){
                                width: 76%;
                            }
                        }
                    }
                    .number{
                        width: clamp(48px, 3.33vw, 96px);
                        height: clamp(48px, 3.33vw, 96px);
                        border-radius: 50%;
                        background: rgba(27, 27, 29, 0.40);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $light-gray;
                    }
                }
                &:hover{
                    a{
                        background: $accent-1;
                        color: $white;
                        transition: $transition;
                    }
                }
            }
        }

        .recent-blogs{
            padding: 8px;
            background: rgba(27, 27, 29, 0.20);
            .image-box{
                @include media-query(490px){
                    width: 29%;
                }
            }
            .text{
                color: $white;
                transition: $transition;
            }
            &:hover{
                .text{
                    color: $accent-2;
                    transition: $transition;
                }
            }
        }
    }
}


// Blog Page Sidebar
.blog-tags-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap-8;
    .blog-tags{
        padding: 8px 12px;
        border-radius: $br-4;
        background: rgba(27, 27, 29, 0.40);
        color: $light-gray;
        transition: $transition;
        &:hover{
            transition: $transition;
            color: $white;
            background: $accent-1;
        }
    }
}
